<div class="menu-container">
  <a routerLink="/" class="home-link">Search on Github</a>
  <ul class="menu-list">
    <li class="menu-item">
      <a routerLink="/">
      <mat-icon class="icon menu-icon">search</mat-icon>
        <span class="label">Search</span>
    </a>
    </li>
    <li class="menu-item">
      <a routerLink="/bookmarks">
        <mat-icon class="icon menu-icon">bookmark</mat-icon>
        <span class="label">Recent</span>
      </a>
    </li>
  </ul>
</div>
<div class="body-content">
  <router-outlet></router-outlet>
</div>
